form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    z-index: 1;
    background-color: lightgray;
  }

  label {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  input {
    padding: 10px;
    margin-top: 5px;
    width: 60%;
  }

  form button {
    color: white;
    background-color: dodgerblue;
    font-size: 1.2rem;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    transition: opacity 0.6s ease-in-out;
    cursor: pointer;
  }

  form button:hover {
    opacity: 0.8;
  }

  .error {
    color: tomato;
  }

  .success {
    color: green;
  }

  h2{
    color: dodgerblue;
  }

  body{
    background-color: aquamarine;
  }
